body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  text-align: center;
}

/* ----- TYPOGRAPHY ----- */

h2 {
  color: #f18119;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
}

h1.header-title {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 300;
}

h1.register-title {
  color: #404040;
  font-weight: 900;
}

h1.register-title,
p.join-us {
  font-size: 1.27rem;
}

p.slogan,
p.join-us {
  color: #f18119;
  text-transform: uppercase;
  font-weight: 900;
}

p.slogan {
  font-size: 0.625rem;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

p.quote {
  color: #5a5a5a;
  font-size: 1rem;
}

.bold {
  font-weight: 900;
}

p.small {
  font-size: 0.625rem;
  color: #989898;
  font-weight: normal;
}

/* ----- /. TYPOGRAPHY ----- */

/* ----- STRUCTURE ----- */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0;
  padding: 0;
  background-image: url("pork-ribs2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.register {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.header-container {
  margin: 0 auto;
  padding: 0;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.blur {
  width: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.register-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

h1.header-title {
  padding: 0;
  margin: 2.5em 0;
}

h1.register-title {
  margin: 1.5em 0 0 0;
}

h2 {
  margin: 0 0 1.2em 0;
}

p.slogan {
  margin: 0;
  margin-top: 0.75em;
  padding: 0;
}

p.join-us {
  padding: 0;
  margin: 0;
  margin-bottom: 1.5em;
}

p.quote {
  margin: 0;
  padding: 0;
}

p.small {
  margin: 0 0 6em 0;
  padding: 0;
}

.header-top-bar {
  height: 12px;
  width: 181px;
  margin: 0 auto;
  z-index: 1;
  padding: 0;
  background: transparent
    linear-gradient(270deg, #ff895d 0%, #df4e13 0%, #ffa51d 100%) 0% 0%
    no-repeat padding-box;
}

/* ----- /. STRUCTURE ----- */

/* ----- FORM ----- */

form {
  margin: 0.7em auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7em;
}

input,
button {
  border-radius: 7px;
  text-align: center;
}

input {
  border: 1px solid #818181;
  color: #404040;
  opacity: 0.5;
  font-size: 1rem;
  padding: 0.5em;
}

button {
  text-transform: uppercase;
  color: white;
  font-size: 0.625rem;
  font-weight: bold;
  background: transparent linear-gradient(270deg, #ff713b 0%, #ffa51d 100%) 0%
    0% no-repeat padding-box;
  border: none;
  padding: 1.3em;
  letter-spacing: 1.5px;
}

/* ----- /. FORM ----- */
