body {
  margin: 0;
  padding: 0;
}

/* ----- TYPOGRAPHY ----- */

/* ----- STRUCTURE ----- */

main {
  width: 100%;
  border: 1px solid red;
}

header {
  border: 2px solid purple;
  background-image: url("pork-ribs2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 358px;
}

.header-container {
  border: 3px solid peachpuff;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.slogan {
  background-color: aqua;
}

.header-title {
  background-color: aqua;
}
.join-us {
  background-color: aqua;
}

.register {
  border: 2px solid pink;
}

h1 {
  background-color: cadetblue;
}

h2 {
  background-color: cadetblue;
}

p {
  background-color: cadetblue;
}

p.small {
  background-color: chartreuse;
}

form {
  background-color: darkgoldenrod;
}
