body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

/* ----- TYPOGRAPHY ----- */

/* ----- STRUCTURE ----- */

main {
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

header {
  border: 2px solid purple;
  background-image: url("pork-ribs2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 358px;
}

section.register {
  border: 2px solid pink;
  height: 453px;
  background-color: #ffffff;
}

form {
  background-color: darkgoldenrod;
  border: 1px solid black;
}

.header-container {
  border: 3px solid peachpuff;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
}

.register-container {
  display: flex;
  flex-direction: column;
}

h1 {
  background-color: cadetblue;
  border: 1px solid black;
}

h2 {
  background-color: cadetblue;
  border: 1px solid black;
}

h1.header-title {
  background-color: aqua;
  border: 1px solid black;
}

p.slogan {
  background-color: aqua;
  border: 1px solid black;
}

p.join-us {
  background-color: aqua;
  border: 1px solid black;
}

p.quote {
  background-color: cadetblue;
  border: 1px solid black;
}

p.small {
  background-color: chartreuse;
  border: 1px solid black;
}
